<div id="header">
  <div class="nav-container">
    {% if page.previous %}
    <a class="nav-btn nav-btn-prev" href="{{site.url}}{{site.baseurl}}{{page.previous.url}}" title="Previous Recipe">
      <i class="fa fa-chevron-left"></i>
      <span class="nav-label">Previous</span>
    </a>
    {% else %}
    <div class="nav-btn nav-btn-disabled">
      <i class="fa fa-chevron-left"></i>
      <span class="nav-label">Previous</span>
    </div>
    {% endif %}

    <div class="nav-actions">
      <a class="nav-icon-btn" href="{{site.url}}{{site.baseurl}}/" title="Home">
        <i class="fa fa-home"></i>
      </a>
      <a class="nav-icon-btn"
         href="mailto:?subject={{page.title}} recipe&amp;body=Check out this recipe {{site.url}}{{site.baseurl}}{{page.url}}"
         title="Share by Email">
        <i class="fa fa-envelope"></i>
      </a>
    </div>

    {% if page.next %}
    <a class="nav-btn nav-btn-next" href="{{site.url}}{{site.baseurl}}{{page.next.url}}" title="Next Recipe">
      <span class="nav-label">Next</span>
      <i class="fa fa-chevron-right"></i>
    </a>
    {% else %}
    <div class="nav-btn nav-btn-disabled">
      <span class="nav-label">Next</span>
      <i class="fa fa-chevron-right"></i>
    </div>
    {% endif %}
  </div>
</div>