<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div id="wrapper">
    <div id="logo">&nbsp;</div>
    <h1 id="lefttitle">{{page.title}}</h1>
    <div id="note-on-ingredients">
      <a href="{{site.url}}{{site.baseurl}}/about.html">A Note on Ingredients and Techniques</a>
    </div>
    <div id="table-of-contents">
      <h3 id="section-title">Appetizers</h3>
      <ul id="toc">
        {% for recipe in site.appetizers %}
        <li><a href="{{site.url}}{{site.baseurl}}{{recipe.url}}">{{recipe.title}}</a></li>
        {% endfor %}
      </ul>
      <h3 id="section-title">Soups and Salads </h3>
      <ul id="toc">
        {% for recipe in site.soups_and_salads %}
        <li><a href="{{site.url}}{{site.baseurl}}{{recipe.url}}">{{recipe.title}}</a></li>
        {% endfor %}
      </ul>
    </div> <!-- /table-of-contents -->
    <div>
      <p>
        {{content}}
      </p>
    </div>
  </div> <!-- /wrapper -->
</body>

</html>