<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="wrapper">
      {% include nav.html %}
      <h2 id="title">{{page.title}}</h2>
      {% if content contains "<!-- split -->" %}
        <div id="ingredients">
            <h3>Ingredients for {{page.persons}} persons:</h3>
          {{ content | split:"<!-- split -->" | first }}
        </div> <!-- /ingredients -->
        <div id="picture">
          {% if page.image %}
            <img src="{{site.url}}{{site.baseurl}}/assets/images/{{page.image}}" alt="Recipe"/>
          {% else if page.imageurl %}
          <img src="{{page.imageurl}}" alt="Recipe"/>
          {% endif %}
        </div> <!-- /picture -->

        <div id="steps">
            <h3>Steps:</h3>
                {{ content | split:"<!-- split -->" | last }}
        </div> <!-- /steps -->

      {% else %}
        {{ content }}
      {% endif %}
      <!--
      <div id="comment">
      </div> -->
     <!-- /comment -->
     <div id="back">
       <a href="{{site.url}}{{site.baseurl}}/">
           back to index
       </a>
     </div> <!-- /back -->
    </div> <!-- /wrapper -->
  </body>
</html>
