<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="wrapper">
      {% include nav.html %}
      <h2 id="title">{{page.title}}</h2>
      {% if page.serving_info %}
      <h4 id="serving_info">{{page.serving_info}}</h4>
      {% endif %}
      {% if page.anecdote %}
        <h5 id="anecdote"><i>{{page.anecdote}}</i></h5>
      {% endif %}
      {% if content contains "<!-- split -->" %}
        <div id="ingredients">
          {{ content | split:"<!-- split -->" | first }}
        </div> <!-- /ingredients -->
        <div id="picture">
          {% if page.image %}
            <img src="{{site.url}}{{site.baseurl}}/assets/images/{{page.image}}" alt="Recipe"/>
          {% else if page.imageurl %}
          <img src="{{page.imageurl}}" alt="Recipe"/>
          {% endif %}
        </div> <!-- /picture -->

        <div id="steps">
            <h3>Steps:</h3>
                {{ content | split:"<!-- split -->" | last }}
        </div> <!-- /steps -->

      {% else %}
        {{ content }}
      {% endif %}
     <div id="back">
       <a href="{{site.url}}{{site.baseurl}}/">
           Back to table of contents
       </a>
     </div> <!-- /back -->
    </div> <!-- /wrapper -->
  </body>
</html>
